<div class="modal-header">
    <h3 class="modal-title">Filter Results</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div data-ng-if="data.isFilterable" class="form-group" data-ng-repeat="(key, data) in filterData">
            <div data-ng-if="data.values">
                <label for="{{key}}">{{key | inflector:"underscore" | uppercase | translate}}</label>
                <select id="{{key}}" class="form-control" data-ng-model="data.data" ng-options="(curr.toUpperCase() | translate) for curr in data.values"></select>
            </div>
            <div data-ng-if="!data.values">
                <label for="{{key}}">{{key | inflector:"underscore" | uppercase | translate}}</label>
                <input type="text" class="form-control" id="{{key}}" placeholder="" data-ng-model="data.data" ng-model-onblur />
            </div>

        </div>
    </form>

</div>
<div class="modal-footer">
    <span class="badge">{{collection.total}}</span>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="clear()">Reset</button>
</div>