<div class="container" data-ng-controller="HeaderController as header">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="header.toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">Bookworm</a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!header.isCollapsed" role="navigation">
        <ul class="nav navbar-nav">
            <li data-ui-sref-active="active">
                <a data-ui-sref="authors">{{'AUTHORS' | translate}}</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="books.list">{{'BOOKS' | translate}}</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="releases.list">{{'RELEASES' | translate}}</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="search">{{'SEARCH' | translate}}</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="logs">{{'LOGS' | translate}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="header.authentication.user">
            <li data-ui-sref-active="active">
                <a data-ui-sref="signup">{{ 'SIGN_UP' | translate }}</a>
            </li>
            <li class="divider-vertical"></li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="signin">{{ 'SIGN_IN' | translate }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="header.authentication.user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{header.authentication.user.username}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a data-ui-sref="profile">{{ 'EDIT_PROFILE' | translate }}</a>
                    </li>
                    <li data-ng-show="header.authentication.user.provider === 'local'">
                        <a data-ui-sref="password">{{ 'CHANGE_PASSWORD' | translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">{{ 'SIGN_OUT' | translate }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>