<section>
    <header class="page-header">
        <h1>Search</h1>
    </header>
    <form role="form">
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="queryType" id="authorName" value="author" data-ng-model="sc.type" checked>
                    Author Name
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="queryType" id="bookTitle" value="book" data-ng-model="sc.type">
                    Book Title
                </label>
            </div>
            <label for="query">Query</label>

            <input class="form-control" type="text" id="query" data-ng-model="sc.query" placeholder="Author or Title"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit" data-ng-click="sc.search(sc.query)">Search</button>
        </div>
    </form>

    <div data-ng-if="sc.bookResults.length">
        <div class="list" data-ng-repeat="book in sc.bookResults track by book._id" bw-book data-book="book" data-is-collapsed="sc.bookResults.isCollapsed" data-is-list="true" data-is-search="true"></div>
    </div>
    <div data-ng-if="sc.authorResults.length">
        <div class="list" data-ng-repeat="author in sc.authorResults track by author._id" bw-author data-author="author" data-is-collapsed="sc.authorResults.isCollapsed" data-is-list="true" data-is-search="true"></div>
    </div>
</section>