<div class="toolbar btn-toolbar" ui-scrollfix="-40">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" data-ng-click="collection.$toggleChecked()">
            <span data-ng-if="!collection.checked" class="glyphicon glyphicon-unchecked"></span>
            <span data-ng-if="collection.checked" class="glyphicon glyphicon-check"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-ng-class="{'disabled': collection.$getSelected() == 0}" data-toggle="dropdown">
            <span class="badge">{{collection.$getSelected().length}}</span>
            <span class="hidden-xs">Set Selected</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
            <li data-ng-repeat="value in collection.definitions.status.values">
                <a data-ng-click="collection.$updateAndSave(collection.$getSelected(), {status: value})">{{ 'STATUS_ACTION_' + (value | inflector:"underscore" | uppercase) | translate}}</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" data-ng-click="collection.$toggleCollapsed()">
            <span class="glyphicon" data-ng-class="{'glyphicon-th-large': !collection.isCollapsed, 'glyphicon-th-list': collection.isCollapsed}"></span>
            <span class="hidden-xs">View</span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click="openFilter('sm')" data-ng-class="{'active': collection.$isFiltering()}">
            <span class="glyphicon glyphicon-filter"></span>
            <span class="hidden-xs">Filter</span>
        </button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon" data-ng-class="{'glyphicon-sort-by-attributes': !collection.reverse, 'glyphicon-sort-by-attributes-alt': collection.reverse}"></span>
            <span class="hidden-xs">{{ collection.predicate | inflector:"humanize" }}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
            <li data-ng-class="{'active': collection.predicate == key}" data-ng-repeat="(key, value) in collection.$getSortableFields()">
                <a data-ng-click="collection.$setPredicate(key)">
                    {{ key | inflector:"underscore" | uppercase | translate}}
                </a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <pager data-total-items="collection.total" data-ng-model="collection.page" data-ng-change="pageChanged()" data-previous-text="&lsaquo;" data-next-text="&rsaquo;"></pager>
        <span class="badge page-info">{{collection.page}} / {{collection.$getNumPages()}}</span>
    </div>
</div>