/**
 * @file Core CSS
 * @author Kyle Brown <blackbarn@gmail.com>
 */
.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.toolbar {
    margin-bottom: 5px;
    z-index: 999;
}
.toolbar.ui-scrollfix {
    position: fixed;
    top: 52px;
}

.toolbar .pager {
    position: relative;
    float: left;
    margin: 0;
}

.toolbar .page-info {
    margin: 5px 0 0 5px;
}

.vis-hidden {
    visibility: hidden;
}

.panel.list .panel-heading {
    padding: 5px 10px;
}
.panel.list .panel-title {
    margin-left: 20px;
}
.panel.list .panel-heading small {
    margin-left: 20px;
}

.model .item-count {
    margin: -1px 5px;
}