
<div data-ng-if="bc.books.length > 0">
    <div bw-toolbar data-collection="rc.releases" data-page-changed="rc.pageChanged"></div>
    <div class="list" data-ng-repeat="release in rc.releases track by release._id" bw-release data-release="release" data-is-collapsed="rc.releases.isCollapsed" data-is-list="true"></div>
</div>
<p data-ng-if="bc.books.length == 0">
    No releases found!
</p>