<div class="panel model release" data-ng-class="{'panel-selected': release.selected, 'panel-success': release.status == 'downloaded', 'panel-danger': release.status == 'wanted', 'panel-info': release.status == 'snatched', 'panel-default': release.status == 'available', 'panel-warning': release.status == 'ignored'}">
    <div class="panel-heading" data-ng-click="release.selected = !release.selected">
        <span data-ng-if="view != 'full'" data-ng-class="{'vis-hidden': !release.selected}" class="glyphicon glyphicon-ok pull-left"></span>
        <span class="label pull-right" data-ng-class="{'label-success': release.status == 'downloaded', 'label-danger': release.status == 'wanted', 'label-info': release.status == 'snatched', 'label-default': release.status == 'available', 'label-warning': release.status == 'ignored'}">{{release.status | inflector:"humanize"}}</span>
        <h3 class="panel-title"><a data-ui-sref="release({releaseId: release._id})">{{release.name}}</a></h3>
        <small class="text-muted">for <a data-ui-sref="book({bookId: release.book._id})">{{release.book.title}}</a></small>
        <small class="text-muted pull-right"> {{release.releaseDate | amDateFormat:'MMMM YYYY'}}</small>
    </div>
    <div class="panel-body" data-ng-if="!isCollapsed && view != 'full'">{{release.review | words:25}}</div>
    <div class="panel-footer" data-ng-if="!isCollapsed">
        <div class="btn-group">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-ng-class="{'btn-success': release.status == 'downloaded', 'btn-danger': release.status == 'wanted', 'btn-info': release.status == 'snatched', 'btn-default': release.status == 'available', 'btn-warning': release.status == 'ignored'}">
                {{release.status | inflector:"humanize"}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="value in release.statuses">
                    <a data-ng-click="release.setStatus(value)">{{ value | inflector:"underscore" | uppercase | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="release.remove()">
                <span class="glyphicon glyphicon-trash"></span> {{'REMOVE' | translate}}
            </button>
        </div>
        <small class="pull-right text-muted">{{'UPDATED' | translate}} <span am-time-ago="release.updated"></span></small>
    </div>
    <div class="list-group" data-ng-if="view == 'full'">
        <div class="list-group-item clearfix">
            <h4 class="list-group-item-heading">{{'DESCRIPTION' | translate}}</h4>
            <p class="list-group-item-text">{{release.description || 'None'}}</p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'REVIEW' | translate}}</h4>
            <span class="list-group-item-text">{{release.review}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'SIZE' | translate}}</h4>
            <span class="list-group-item-text">{{release.size | bytes}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'GRABS' | translate}}</h4>
            <span class="list-group-item-text">{{release.grabs}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'DIRECTORY' | translate}}</h4>
            <span class="list-group-item-text">{{release.directory || 'Not downloaded yet!'}}</span>
        </div>
        <a data-ui-sref="provider({providerId: release.provider._id})" class="list-group-item">
            <h4 class="list-group-item-heading">{{'PROVIDER' | translate}}</h4>
                <span class="list-group-item-text">
                    {{release.provider.name}} - {{release.provider.canonicalName | inflector:'humanize'}}
                </span>
            <span class="pull-right glyphicon glyphicon-link"></span>
        </a>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'STATUS' | translate}}</h4>
            <span class="list-group-item-text label" data-ng-class="{ 'label-success': release.status == 'downloaded', 'label-warning': release.status == 'excluded', 'label-default': release.status == 'skipped', 'label-info': release.status == 'snatched', 'label-danger': release.status == 'wanted' || release.status == 'wanted_new'}">{{release.status.toUpperCase() | translate}}</span>
        </div>
    </div>
    <div data-ui-view></div>
</div>