<section data-ng-controller="ProvidersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{provider.name}}</h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == provider.user._id">
        <a class="btn btn-primary" href="/#!/providers/{{provider._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">Posted on {{provider.created | date:'mediumDate'}} by {{provider.user.username}}</em>
    </small>
</section>