<div class="panel model author" data-ng-class="{'panel-info': author.isRefreshing(), 'panel-success': author.status == 'active', 'panel-warning': author.status == 'paused'}">
    <div class="panel-heading" data-ng-click="author.selected = !author.selected">
        <span data-ng-if="view != 'full'" data-ng-class="{'vis-hidden': !author.selected}" class="glyphicon glyphicon-ok pull-left"></span>
        <span class="badge pull-right item-count" data-tooltip="Books">{{author.books.length}}</span>
        <span class="label pull-right" data-ng-class="{'label-info': author.isRefreshing(), 'label-success': author.status == 'active', 'label-warning': author.status == 'paused'}">{{author.status | inflector:"humanize"}}</span>
        <h3 class="panel-title"><a data-ui-sref="author({authorId: author._id})">{{author.name}}</a></h3>
    </div>
    <div class="panel-body" data-ng-if="!isCollapsed && view != 'full'">{{author.description || "None" | words:25}}</div>
    <div class="panel-footer" data-ng-if="!isCollapsed">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-if="author.status == 'paused'" data-ng-click="author.resume()">
                <span class="glyphicon glyphicon-play"></span> {{'RESUME' | translate}}
            </button>
            <button type="button"  class="btn btn-default btn-sm" data-ng-if="author.status == 'active'" data-ng-click="author.pause()">
                <span class="glyphicon glyphicon-pause"></span> {{'PAUSE' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-sm" data-ng-if="author.isRefreshing()" disabled>
                <span class="glyphicon glyphicon-refresh"></span> {{ author.status.toUpperCase() | translate}}
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="author.refresh()">
                <span class="glyphicon glyphicon-refresh"></span> {{'REFRESH' | translate}}
            </button>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a data-ng-click="author.refreshBooks()"><span class="glyphicon glyphicon-book"></span> {{'STATUS_ACTION_REFRESHING_BOOKS' | translate}}</a></li>
                <li><a data-ng-click="author.refreshBooks(true)"><span class="glyphicon glyphicon-check"></span> {{'STATUS_ACTION_REFRESHING_NEW_BOOKS' | translate}}</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="remove()">
                <span class="glyphicon glyphicon-trash"></span> {{'REMOVE' | translate}}
            </button>
        </div>
        <small class="pull-right text-muted">{{'UPDATED' | translate}} <span am-time-ago="author.updated"></span></small>
    </div>
    <div class="list-group" data-ng-if="view == 'full'">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'DESCRIPTION' | translate}}</h4>
            <p class="list-group-item-text">{{author.description || 'None'}}</p>
        </div>
        <a data-ui-sref="provider({providerId: author.provider._id})" class="list-group-item">
            <h4 class="list-group-item-heading">{{'PROVIDER' | translate}}</h4>
            <span class="list-group-item-text">{{author.provider.name}} - {{author.provider.canonicalName | inflector:'humanize'}}</span>
            <span class="pull-right glyphicon glyphicon-link"></span>
        </a>
        <a data-ui-sref="author.books({authorId: author._id})" class="list-group-item">
            <span class="pull-right glyphicon glyphicon-link"></span>
            <span class="badge">{{author.books.length}}</span>
            <span class="list-group-item-text">{{'BOOKS' | translate}}</span>
        </a>
    </div>
    <div data-ui-view></div>
</div>