<div class="panel model author panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{author.name}}</h3>

    </div>
    <div class="panel-body">{{(author.description || 'None') | words:25}}</div>
    <div class="panel-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="add()">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
        <span class="pull-right">Relevance <span class="badge">{{author.relevance}}</span></span>
    </div>
</div>