<section>
    <header class="page-header hidden-xs">
        <h1>{{'AUTHORS' | translate}}</h1>
    </header>

    <div data-ng-if="ac.authors.length > 0">
        <div bw-toolbar data-collection="ac.authors" data-page-changed="ac.pageChanged"></div>
        <div class="list" data-ng-repeat="author in ac.authors track by author._id" bw-author data-author="author" data-is-collapsed="ac.authors.isCollapsed" data-is-list="true"></div>
    </div>
    <p data-ng-if="ac.authors.length == 0">
        No authors found!
    </p>

</section>