<section class="row" data-ng-controller="SettingsController as settings">
    <h3 class="col-md-12 text-center">{{ 'CHANGE_YOUR_PASSWORD' | translate }}</h3>

    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form data-ng-submit="settings.changeUserPassword()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="currentPassword">{{ 'CURRENT_PASSWORD' | translate }}</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                           data-ng-model="settings.passwordDetails.currentPassword" placeholder="{{ 'CURRENT_PASSWORD' | translate }}">
                </div>
                <div class="form-group">
                    <label for="newPassword">{{ 'NEW_PASSWORD' | translate }}</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control"
                           data-ng-model="settings.passwordDetails.newPassword" placeholder="{{ 'NEW_PASSWORD' | translate }}">
                </div>
                <div class="form-group">
                    <label for="verifyPassword">{{ 'VERIFY_PASSWORD' | translate }}</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control"
                           data-ng-model="settings.passwordDetails.verifyPassword" placeholder="{{ 'VERIFY_PASSWORD' | translate }}">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">{{ 'SAVE_PASSWORD' | translate }}</button>
                </div>
                <div data-ng-show="settings.success" class="text-center text-success">
                    <strong>{{ 'PASSWORD_SAVED_SUCCESSFULLY' | translate }}</strong>
                </div>
                <div data-ng-show="settings.error" class="text-center text-danger">
                    <strong>{{ settings.error | translate }}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>