<section class="row" data-ng-controller="SettingsController as settings">
    <h3 class="col-md-12 text-center">Edit your profile</h3>

    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form data-ng-submit="settings.updateUserProfile()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="settings.user.username"
                           placeholder="Username">
                    <label for="apikey">API Key</label>
                    <input type="text" id="apikey" name="apikey" class="form-control" data-ng-model="settings.user.apikey" placeholder="xyz123">
                    <label for="roles">Roles</label>
                    <input type="text" id="roles" name="roles" class="form-control" disabled value="{{ settings.user.roles.join(',') }}">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
                </div>
                <div data-ng-show="settings.success" class="text-center text-success">
                    <strong>Profile Saved Successfully</strong>
                </div>
                <div data-ng-show="settings.error" class="text-center text-danger">
                    <strong>{{settings.error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>