.time {
    clear: both;
    font-size: 11px;
    position: relative;
    overflow: hidden;
    padding: 0 3px;
    font-family: Lucida Console, Monaco, Nimbus Mono L,serif;
}

.time span {
    padding: 5px 0 3px;
    display: inline-block;
    vertical-align: middle;
}

.time .type {
    margin-left: 10px;
}

.time .message {
    float: right;
    width: 82%;
    white-space: pre-wrap;
}