<section class="row" data-ng-controller="AuthenticationController as auth">
    <header>
        <h1>{{ 'SIGN_UP' | translate }}</h1>
    </header>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form data-ng-submit="auth.signup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="username">{{ 'USERNAME' | translate }}</label>
                    <input type="text" id="username" name="username" class="form-control"
                           data-ng-model="auth.credentials.username" placeholder="{{ 'USERNAME' | translate }}">
                </div>
                <div class="form-group">
                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                    <input type="password" id="password" name="password" class="form-control"
                           data-ng-model="auth.credentials.password" placeholder="{{ 'PASSWORD' | translate }}">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">{{ 'SIGN_UP' | translate }}</button>
                    &nbsp; {{ 'OR' | translate }}&nbsp;
                    <a href="/#!/signin" class="show-signup">{{ 'SIGN_IN' | translate }}</a>
                </div>
                <div data-ng-show="auth.error" class="text-center text-danger">
                    <strong>{{ auth.error | translate }}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>