<section>
    <header class="page-header hidden-xs">
        <h1>{{'LOGS' | translate}}</h1>
    </header>
    <pager data-total-items="lc.logs.total" data-ng-model="lc.logs.page" data-ng-change="lc.pageChanged()"></pager>
    <div class="time" data-ng-repeat="log in lc.logs">
        <span>{{log.timestamp | amDateFormat:'MM-DD-YYYY h:mm:ss a'}}</span>
        <span class="level">{{log.level | uppercase}}</span>
        <span class="message">{{log.label ? '[' + log.label + ']' : ''}} {{log.message}}</span>
    </div>

</section>