<div class="panel model book" data-ng-class="{'panel-selected': book.selected, 'panel-success': book.status == 'downloaded', 'panel-danger': book.status == 'wanted' || book.status == 'wanted_new', 'panel-info': book.status == 'snatched', 'panel-default': book.status == 'skipped', 'panel-warning': book.status == 'excluded'}">
    <div class="panel-heading" data-ng-click="book.selected = !book.selected">
        <span data-ng-if="view != 'full'" data-ng-class="{'vis-hidden': !book.selected}" class="glyphicon glyphicon-ok pull-left"></span>
        <span class="badge pull-right item-count" data-tooltip="Releases">{{book.releases.length}}</span>
        <span class="label pull-right" data-ng-class="{'label-success': book.status == 'downloaded', 'label-danger': book.status == 'wanted' || book.status == 'wanted_new', 'label-info': book.status == 'snatched', 'label-default': book.status == 'skipped', 'label-warning': book.status == 'excluded'}">{{book.status | inflector:"humanize"}}</span>
        <h3 class="panel-title"><a data-ui-sref="book({bookId: book._id})">{{book.title}}</a></h3>
        <small class="text-muted">{{'BY' | translate}} <a data-ui-sref="author({authorId: book.author._id})">{{book.author.name}}</a></small>
        <span class="text-muted pull-right" data-tooltip="Published">{{book.published | amDateFormat:'MMMM YYYY'}}</span>
    </div>
    <div class="panel-body" data-ng-if="!isCollapsed && view != 'full'">{{book.description | words:25}}</div>
    <div class="panel-footer" data-ng-if="!isCollapsed">
        <div class="btn-group">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-ng-class="{'btn-success': book.status == 'downloaded', 'btn-danger': book.status == 'wanted' || book.status == 'wanted_new', 'btn-info': book.status == 'snatched', 'btn-default': book.status == 'skipped', 'btn-warning': book.status == 'excluded'}">
                {{book.status | inflector:"humanize"}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="value in book.statuses">
                    <a data-ng-click="book.setStatus(value)">{{ value | inflector:"underscore" | uppercase | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
        </div>
        <small class="pull-right text-muted">{{'UPDATED' | translate}} <span am-time-ago="book.updated"></span></small>
    </div>
    <div class="list-group" data-ng-if="view == 'full'">
        <div class="list-group-item clearfix">
            <h4 class="list-group-item-heading">Description</h4>
            <img class="pull-left" data-ng-src="{{book.image}}" alt="{{book.title}}" />
            <p class="list-group-item-text">{{book.description || 'None'}}</p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'LANGUAGE' | translate}}</h4>
            <span class="list-group-item-text">{{book.language}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'ISBN' | translate}}</h4>
            <span class="list-group-item-text">{{book.isbn}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'PUBLISHED' | translate}}</h4>
            <span class="list-group-item-text">{{book.published}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'PAGE_COUNT' | translate}}</h4>
            <span class="list-group-item-text">{{book.pageCount}}</span>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{'AVERAGE_RATING' | translate}}</h4>
            <span class="list-group-item-text">{{book.averageRating}}</span>
        </div>
        <a data-ui-sref="provider({providerId: book.provider._id})" class="list-group-item">
            <h4 class="list-group-item-heading">Provider</h4>
                <span class="list-group-item-text">
                    {{book.provider.name}} - {{book.provider.canonicalName | inflector:'humanize'}}
                </span>
            <span class="pull-right glyphicon glyphicon-link"></span>
        </a>
        <a data-ui-sref="book.releases({authorId: book.author._id, bookId: book._id})" class="list-group-item">
            <span class="pull-right glyphicon glyphicon-link"></span>
            <span class="badge">{{book.releases.length}}</span>
            <span class="list-group-item-text">Releases</span>
        </a>
    </div>
    <div data-ui-view></div>


</div>