<div class="panel model book panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{book.title}}</h3>
        <small class="text-muted">{{'BY' | translate}} {{book.providerData.authorName}}</small>
        <span class="text-muted pull-right" data-tooltip="Published">{{book.published | amDateFormat:'MMMM YYYY'}}</span>
    </div>
    <div class="panel-body">{{book.description | words:25}}</div>
    <div class="panel-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="add()">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
    </div>
</div>