<div data-ng-if="bc.books.length > 0">
    <div bw-toolbar data-collection="bc.books" data-page-changed="bc.pageChanged"></div>
    <div class="list" data-ng-repeat="book in bc.books track by book._id" bw-book data-book="book" data-is-collapsed="bc.books.isCollapsed" data-remove="bc.remove" data-is-list="true"></div>
</div>
<p data-ng-if="bc.books.length == 0">
    No books found!
</p>

